body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  grid-area: NavBar;
  background-color: #dc3546;
  color: white;
}

.home-page-container {
  grid-area: main-content;
}

.footer-container {
  grid-area: footer;
  background-color: #dc3546;
  color: white;
}

.app-container {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-areas:
    "NavBar"
    "main-content"
    "footer";
  grid-template-rows: 3.5rem 96% 4rem;
  grid-template-columns: 100%;
}
