@import "~antd/dist/antd.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-container {
  grid-area: NavBar;
  background-color: #dc3546;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
}
.navbar-container .navbar-options-container {
  display: flex;
  width: 15%;
  justify-content: space-between;
}
.navbar-container .navbar-options-container span {
  display: flex;
}
.navbar-container .navbar-options-container span .NavBar-icon-options {
  color: black;
  align-items: center;
  font-size: 18px;
}
.navbar-container .NavBar-cake-icon {
  color: black;
  align-items: center;
  font-size: 18px;
}
.navbar-container .NavBar-cake-icon .navbar-logo-container {
  display: flex;
  align-items: flex-start;
}

.home-page-container {
  grid-area: main-content;
}
.home-page-container .home-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 0 0;
}
.home-page-container .home-content-container h1 {
  font-weight: 100;
  font-size: 36px;
}
.home-page-container .home-content-container h1 span {
  font-weight: 700;
}
.home-page-container .home-content-container .home-content-subtitle {
  font-size: 16px;
}
.home-content-carousel-container {
  margin: 3rem 0 3rem 0;
  width: 50%;
}

.contact-page-container {
  grid-area: main-content;
}
.contact-page-container .contact-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 0 0;
}
.contact-page-container .contact-content-container h1 {
  font-weight: 100;
}
.contact-page-container .contact-content-container .contact-content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-page-container .contact-content-container .contact-content-form h3 {
  margin: 1rem;
}
.contact-page-container .contact-content-container .contact-content-form .contact-email-input {
  width: 60%;
  border-radius: 6px;
}
.contact-page-container
  .contact-content-container
  .contact-content-form
  .contact-description-input {
  width: 60%;
  border-radius: 6px;
}
.contact-page-container .contact-content-container .contact-content-form button {
  margin: 1rem 0 0 0;
  background-color: #dc3546;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.contact-page-container .contact-content-container .contact-content-form button:hover {
  background-color: #a01725;
}

.footer-container {
  grid-area: footer;
  background-color: #dc3546;
  color: white;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.error-404-container {
  display: flex;
  justify-content: center;
  font-size: 52px;
}

.app-container {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-areas:
    "NavBar"
    "main-content"
    "footer";
  grid-template-rows: 3.5rem 96% 4rem;
  grid-template-columns: 100%;
}
